.navigation {
	background: $blue;
	height: 100%;

}
.menu {
	font-family: $aleo;
	display: flex;
	line-height: 80px;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	text-transform: uppercase;
	
	
	&__logo {
		font-family: $josefin;
		font-size: 24px;
		font-weight: 700;
	}

	&__list {
	display: flex;
	
	}

	&__item {
		margin-left: 40px;
		font-size: 14px;
		letter-spacing: 1px;
	}
}